<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>      <a href="https://carpentries-incubator.github.io/shell-pangenomics/">Introduction to the Command Line for Pangenomics </a>     <!-- roDataw 2   -->
        <td>      09:30 -10:20 am  </td>  
        <td>      <a href="https://www.frontiersin.org/journals/microbiology/articles/10.3389/fmicb.2025.1461293/full">Talk: Topological data analysis captures horizontal gene transfer in antimicrobial resistance gene families among clinically relevant bacteria</a>
          </td> 
      </tr>
      <tr>      
        <td> 10:30 -11:30 am </td>       
        <td>       <a href="https://carpentries-incubator.github.io/shell-pangenomics/01-introduction/index.html">Introducing the Shell </a>  
      </td> 
      </tr>
       <tr>      
        <td>  11:30 -11:45 am</td>     
        <td>Break </td>       
      </tr>
       <tr>      
        <td>11:45 -12:50 am</td>        
        <td>       <a href="https://carpentries-incubator.github.io/shell-pangenomics/03-working-with-files/index.html">Working with Files and Directories </a>  
     </td> 
       </tr>
       <tr>      
        <td> 13:00 -14:00 pm</td>       
        <td> Food</td>       
       <tr>      
        <td>14:00 -15:15 am</td>       
        <td>    <a href="https://carpentries-incubator.github.io/pangenomics-python/01-introduction/index.html">  Introduction to Python </a>  
     </td>
       </tr>
       <tr>      
        <td>15:15 -15:30 am</td>       
        <td> Break </td>      
      </tr>
       <tr>      
        <td>  15:30 -17:00 am</td>      
        <td> <a href="XX">content 2 </a>  </td>       
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>    <a href="XX">DAY2 </a>           <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td> <a href="https://carpentries-incubator.github.io/shell-pangenomics/05-writing-scripts/index.html">Writing Scripts and Working with Data </a>  
       </td>       
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>     <a href="XX">DAY3 </a>              <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>  <a href="XX">DAY4 </a>                 <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr>     <a href="XX">DAY5 </a>              <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
       <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>     <!-- content -->
      </tr>
    </table>
  </div>
</div>

