<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>        <!-- roDataw 2   -->
        <td>      09:30 -10:20 am  </td>  
        <td>      <a href="https://www.frontiersin.org/journals/microbiology/articles/10.3389/fmicb.2025.1461293/full">Talk: Topological data analysis captures horizontal gene transfer in antimicrobial resistance gene families among clinically relevant bacteria</a>
          </td> 
      </tr>
      <tr>      
        <td> 10:30 -11:30 am </td>       
        <td>        <a href="https://carpentries-incubator.github.io/shell-pangenomics/">Introduction to the Command Line for Pangenomics 1</a>   
      </td> 
      </tr>
       <tr>      
        <td>  11:30 -11:45 am</td>     
        <td>Break </td>       
      </tr>
       <tr>      
        <td>11:45 -12:50 am</td>        
        <td>       <a href="https://carpentries-incubator.github.io/shell-pangenomics/03-working-with-files/index.html">Introduction to the Command Line for Pangenomics 2</a>  
     </td> 
       </tr>
       <tr>      
        <td> 13:00 -14:00 pm</td>       
        <td> Food</td>       
       <tr>      
        <td>14:00 -15:15 am</td>       
        <td>    <a href="https://carpentries-incubator.github.io/pangenomics-python/01-introduction/index.html">  Introduction to Python </a>  
     </td>
       </tr>
       <tr>      
        <td>15:15 -15:30 am</td>       
        <td> Break </td>      
      </tr>
       <tr>      
        <td>  15:30 -17:00 am</td>      
        <td> <a href="XX">content 2 </a>  </td>       
      </tr>
    </table>
  </div>
</div>

