<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 Monday Jun 29</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>  
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>        <!-- roDataw 2   -->
        <td>      09:30 -10:20 am  </td>  
        <td>      <a href="https://www.frontiersin.org/journals/microbiology/articles/10.3389/fmicb.2025.1461293/full">Talk: Topological data analysis captures horizontal gene transfer </a>
          </td> 
      </tr>
      <tr>      
        <td> 10:30 -11:30 am </td>       
        <td>        <a href="https://carpentries-incubator.github.io/shell-pangenomics/">Introduction to the Command Line for Pangenomics 1</a>   
      </td> 
      </tr>
       <tr>      
        <td>  11:30 -11:45 am</td>     
        <td>Break </td>       
      </tr>
       <tr>      
        <td>11:45 -12:50 am</td>        
        <td>       <a href="https://carpentries-incubator.github.io/shell-pangenomics/03-working-with-files/index.html">Introduction to the Command Line for Pangenomics 2</a>  
     </td> 
       </tr>
       <tr>      
        <td> 13:00 -14:00 pm</td>       
        <td> Food</td>   
            </tr>
       <tr>      
        <td>14:00 -15:15 pm</td>       
        <td>    <a href="https://carpentries-incubator.github.io/pangenomics-python/01-introduction/index.html">  Introduction to Python </a>  
     </td>
       </tr>
       <tr>      
        <td>15:15 -15:30 pm</td>       
        <td> Break </td>      
      </tr>
       <tr>      
        <td>  15:30 -17:00 pm</td>      
        <td>  <a href="https://carpentries-incubator.github.io/pangenomics-python/01-introduction/index.html">  Introduction to Python 2 </a>  
        </td>       
      </tr>
    </table>
  </div>
 <div class="col-md-6"> <!-- left column -->
    <h3>Day 2 Tuesday Jun 30</h3>
    <table class="table table-striped">
      <tr>        <!-- roDataw 2   -->
        <td>      09:00 -10:20 am  </td>  
        <td>      <a href="https://carpentries-incubator.github.io/pangenomics/">Pangenome Analysis in Prokaryotes 1 </a>
          </td> 
      </tr>
      <tr>      
        <td>      10:30 -11:30 am </td>       
        <td>         <a href="https://carpentries-incubator.github.io/pangenomics/">Pangenome Analysis in Prokaryotes 2 </a>
      </td> 
      </tr>
       <tr>      
        <td>  11:30 -11:45 am</td>     
        <td>Break </td>       
      </tr>
       <tr>      
        <td>11:45 -12:50 am</td>        
        <td>       <a href="xx">Topological Data Analysis for Pangenomics 1 </a>  
     </td> 
       </tr>
       <tr>      
        <td> 13:00 -14:00 pm</td>       
        <td> Food</td>   
            </tr>
       <tr>      
        <td>14:00 -15:15 pm</td>       
        <td>    <a href="xx">Topological Data Analysis for Pangenomics 2 </a>  
     </td>
       </tr>
       <tr>      
        <td>15:15 -15:30 pm</td>       
        <td> Break </td>      
      </tr>
       <tr>      
        <td>  15:30 -17:00 pm</td>      
        <td>  <a href="xx"> Topological Data Analysis for Pangenomics 3 </a>  </td>   
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 Wednesday, Jul 1</h3>
    <table class="table table-striped">
      <tr>        <!-- roDataw 2   -->
        <td>      09:30 -10:20 am  </td>  
        <td>      <a href="https://tesiunam.dgb.unam.mx/F/5TQ1T714TGHX2MIRC22Y7S4MJHQJHBTY2VJVEQFV7XVUEJDE46-04364?func=full-set-set&set_number=078852&set_entry=000001&format=999">Talk: Análisis topológico de datos para la caracterización de patrones celulares  </a>
          </td> 
      </tr>
      <tr>      
        <td> 10:30 -11:30 am </td>       
        <td>        <a href="xx">TDA in images practice 1</a>   
      </td> 
      </tr>
       <tr>      
        <td>  11:30 -11:45 am</td>     
        <td>Break </td>       
      </tr>
       <tr>      
        <td>11:45 -12:50 am</td>        
        <td>       <a href="xx">TDA in images practice 2</a>  
     </td> 
       </tr>
       <tr>      
        <td> 13:00 -14:00 pm</td>       
        <td> Free atfternoon</td>   
            </tr>
    </table>
  </div>
 <div class="col-md-6"> <!-- left column -->
    <h3>Day 4 Thursday Jul 2</h3>
    <table class="table table-striped">
      <tr>        <!-- roDataw 2   -->
        <td>      09:30 -10:20 am  </td>  
        <td>      <a href="XX"> Horizontal Gene Transfer Exercise 1 </a>
          </td> 
      </tr>
      <tr>      
        <td> 10:30 -11:30 am </td>       
        <td>        <a href="hXX"> Viral evolution 1  </a>   
      </td> 
      </tr>
       <tr>      
        <td>  11:30 -11:45 am</td>     
        <td>Break </td>       
      </tr>
       <tr>      
        <td>11:45 -12:50 am</td>        
        <td>       <a href="XX"> Selfwork 1 </a>
     </td> 
       </tr>
       <tr>      
        <td> 13:00 -14:00 pm</td>       
        <td> Food</td>   
            </tr>
       <tr>      
        <td>14:00 -15:15 pm</td>       
        <td>    <a href="XX"> Selfwork 2  </a>
     </td>
       </tr>
       <tr>      
        <td>15:15 -15:30 pm</td>       
        <td> Break </td>      
      </tr>
       <tr>      
        <td>  15:30 -17:00 pm</td>      
        <td>   <a href="XX"> Questions and answers </a> </td>  
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5 Friday, Jul 3</h3>
    <table class="table table-striped">
      <tr>        <!-- roDataw 2   -->
        <td>      09:30 -10:20 am  </td>  
        <td>      <a href="">Student Talks  </a>
          </td> 
      </tr>
      <tr>      
        <td> 10:30 -11:30 am </td>       
        <td>       <a href="">Student Talks  </a> 
      </td> 
      </tr>
       <tr>      
        <td>  11:30 -11:45 am</td>     
        <td>Break </td>       
      </tr>
       <tr>      
        <td>11:45 -12:50 am</td>        
        <td>      <a href="">Student Talks  </a>
     </td> 
       </tr>
       <tr>      
        <td> 13:00 -14:00 pm</td>       
        <td> Lunch </td>   
            </tr>
    </table>
  </div>
</div>


